body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('coolbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.title1 {
    color: silver;
    font-family: 'Courier New';
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
}

.firstNameField, .lastNameField {
    display: block;
    color: black;
    font-family: 'Courier New';
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: lightgrey;
}

.nameInput {
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
