/*
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('coolbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.title1 {
    color: silver;
    font-family: 'Courier New';
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}

.firstNameField, .lastNameField {
    flex-basis: 50%;
    color: black;
    font-family: 'Courier New';
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: lightgrey;
    border-radius: 5px;
}

.fieldName {
    display: inline;
}

.nameInput {
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameInput input[type="submit"] {
	font-family: 'Courier New';
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.nameInput input[type="text"] {
    width: 100%;
    height: 30px;
    padding: 5px;
    font-family: 'Courier New';
    font-size: 14px;
    border-radius: 5px;
}

.fieldContainer {
    display: flex;
    align-items: center;
}
*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('coolbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title1 {
    color: silver;
    font-family: 'Courier New';
    font-size: 21px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.firstNameField, .lastNameField {
    display: inline-block;
    color: black;
    font-family: 'Courier New';
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: lightgrey;
    border-radius: 5px;
    width: fit-content;
}

.lastNameField {
    flex-grow: 1;
}

.nameInput {
    text-align: center;
    margin-top: 45px;
}

.nameInput input[type="submit"] {
    font-family: 'Courier New';
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.nameInput input[type="text"] {
    width: 100%;
    padding: 5px;
    font-family: 'Courier New';
    font-size: 14px;
    border-radius: 5px;
}

.fieldContainer {
    display: flex;
    align-items: center;
}

