body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('backgroundpic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title1 {
    color: white;
    font-family: 'VT323', monospace;
    font-size: 70px;
    text-align: center;
    position: absolute;
    top: 0%;
}

.firstNameField, .lastNameField {
    display: inline-block;
    color: black;
    font-family: 'VT323', monospace, bold;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: lightgrey;
    border-radius: 5px;
    width: fit-content;
}

.lastNameField {
    flex-grow: 1;
}

form{
	margin-top: 0;
	margin-bottom: 0;
}

.nameInput {
    text-align: center;
}

.nameInput input[type="submit"] {
    font-family: 'VT323', monospace, bold;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
}

.nameInput input[type="text"] {
    font-family: 'VT323', monospace, bold;
    font-size: 60px;
    border-radius: 5px;
}

.fieldContainer {
    display: flex;
    align-items: center;
}

.fieldContainer input{
	height: 40px;
	border-radius: 5px;
}

